:root {
    --color-green: #8CBCCA;
    --color-green-shadows: rgba(140, 188, 202, 0.5);
    --color-black-shadows: rgba(70, 74, 75, 0.25);
    --color-black: #464A4B;
    --color-muted: #FBFBFB;
    --rotation: 90deg;
}