@import url(../colors.css);

#mobile-footer {
    display: none;
}

#desktop-footer {
    margin-top: 10vh;
    color: var(--color-black) !important;
    padding-bottom: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
}

.footer-links a {
    text-decoration: none;
    font-size: 0.75em;
    margin-top: 10px;
    color: var(--color-black) !important;
    font-size: 0.9em;
    display: block;
}

.footer-title {
    font-size: 0.8em;
    font-weight: 600;
}

.footer-company {
    color: var(--color-black) !important;
    font-size: 0.8em;
}