@import url(../colors.css);

#desktop-footer {
    display: none;
}

#mobile-footer {
    color: var(--color-black) !important;
    margin-bottom: 30px;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100vw;
    flex-direction: row;
}

.footer-links a {
    text-decoration: none;
    margin-top: 15px;
    color: var(--color-black) !important;
    font-size: 0.9em;
    display: block;
}

.footer-title {
    font-weight: 600;
}