@import url(../colors.css);

#mobile-offer {
    display: none;
}

#desktop-offer {
    background-color: var(--color-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 7.5vh;
    padding-bottom: 10vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.offer-title {
    margin-top: 2.5vh;
    font-weight: 700;
    color: var(--color-black);
    font-size: 2em;
}

.offer-section {
    box-shadow: 2px 5px 45px var(--color-black-shadows);
    background-color: white;
    border-radius: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


.offer-group {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
}

.smol-part {
    width: 40%;
    transition: all 300ms;
}

.smol-part:hover {
    width: 42%;
    transition: all 300ms;
}

.big-part {
    width: 50%;
    transition: all 300ms;
}

.big-part:hover {
    width: 52%;
    transition: all 300ms;
}

.first-part {
    margin-right: 5vw;
}

.offer-image-container {
    height: 60px;
}

.offer-section-image {
    height: 100%;
    width: auto;
    margin-left: 15px;
}

.offer-section-big {
    width: 80%;
    font-weight: 700;
    font-size: 1.5em;
    color: var(--color-green);
    margin-left: 15px;
}

.offer-section-p {
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 15px;
    line-height: 1.15em;
}